body {
    font-family: 'Lexend Deca';
    background-color: #E5E5E5;


}

.button__in {
    color: white;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #20DF7F;
    text-decoration: none;
    text-align: center;
    border-radius: 13%;
    margin-top: 10px;
    position: absolute;
    padding: 10px;
    right: 0;
    margin-right: 15px;
}

.form {
    display: block;
    width: 380px;
    height: 447px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

}

.form__title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    /* identical to box height */

    text-align: center;

    color: #224957;
}

.form__description {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #224957;
}

.form__button {
    width: 100px;
    height: 40px;
    color: white;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #20DF7F;
    text-decoration: none;
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13%;
    padding-top: 20px;
    display: block;
    text-align: center;




}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

input::placeholder {
    color: white;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

input[type=text] {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.email-field,
.password-field,
.name-field,
.surname-field,
.age-field,
.gender-field {
    width: 300px;
    height: 45px;
    border: 0px;
    margin-top: 30px;
    background: #224957;
    border-radius: 10px;

}

label {
    display: block;
}

.checkbox {
    display: inline-block;
    margin-left: 38px;
    margin-top: 30px;


}

input[type=checkbox] {
    accent-color: #20DF7F;
    ;
}

.remember {
    margin-left: 10px;
}